body {
  background-color: antiquewhite;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#heading {
  font-size: 50px;
}

#value {
  font-size: 100px;
}

.btn {
  height: 40px;
  width: 120px;
  border-radius: 20px;
  margin: 15px;
  font-size: 18px;
  background-color: black;
  color: white;
}
